/* the color and size of the cards   */
.recipe {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2);
    background: whitesmoke;
    margin-bottom: 2em;
    width: 50%;
  
}

/* centers the text */
.recipe-content {
    text-align: center;
}
/* for the recipe name at the top */
.recipeName{
    background-color: #9A8C98;
    color: cornsilk;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    padding: .1em;
    width: 90%;
    
}
/* sizing the img */
img{
    width: 30%;
    height: 30%;
    padding-top: 1em;
    
}

/* color and size of the buttons */
.recipe button {
    background-color:#9A8C98;
    border: none;
    color: cornsilk;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 14px;
    padding: .5em;
    border-radius: 2px;
    margin: .1em;
    width: 100%;
  }

  /* color on buttons turn blue when you hover over them  */
  .recipe button:hover {
    background-color: grey;
  }
  
/* spaces the cards */
 .container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .align-top{
    display: flex;
    flex-direction: row;
    
  }
  .search-recipe{
    margin-left: 2em;
  }

