header{
    background-color: whitesmoke;
    border: gray solid 3px;
    
}

.site-title {
   color:#9A8C98;
   text-align: center;
   font-family: cursive;
   
}

.site-catchpharse{
    color: #9A8C98;
    text-align: center;
    font-family: cursive;
}
 